body {
  /*margin-top: 3.5rem;*/
}

html,
body {
  height: 100%;
  /*height: calc(100% - 3.7rem);*/
}

body > [class="ember-view"] {
  /*height: calc(100% - 3.7rem);*/
  height: 100%;
}

.flame-graph {
  /*height: calc(100% - 3.7rem);*/
  height: 100%;
}

.global-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.upload-data-banner {
  position: fixed;
  top: 0;
  width: 100%;
}

.selected-node-controls {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /*padding-bottom: 100%;*/
  vertical-align: top;
  overflow: hidden;
  cursor: move;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.nodes-controls {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.nodes-table_header tr:hover {
  background-color: initial;
}

.nodes-table_toggle {
  color: inherit;
}

.table-row:hover {
  cursor: pointer;
}

