{{outlet}}

<div class="selected-node-controls hero-footer">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="{{if (eq route 'graph.index') 'is-active'}}">
          {{#link-to 'graph.index'}}Full Graph{{/link-to}}
        </li>
        <li class="{{if (eq route 'graph.node') 'is-active'}}">
          {{#link-to 'graph.node'}}
            Selected Node: {{if graph.selectedNode graph.selectedNode.label.name 'None'}}
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</div>
