<form>
  <div>
    <label for="file-upload">Upload the output of <code>BROCCOLI_VIZ=1 ember build</code>:</label>
    <input name="file-upload" type="file" onchange={{action 'parseFile'}}>
  </div>
  <div>
    <select onchange={{action 'useSample' value="target.value"}}>
      <option selected disabled>Choose sample file</option>
      <option value="./broccoli-viz-files/initial-build-2-12-beta-1.json">Empty Project - ember-cli@2.12.0-beta.1</option>
      <option value="./broccoli-viz-files/ghost-initial-build-canary-ember-cli-20161222.json">Ghost Admin Client - 2016-12-22</option>
    </select>
  </div>
</form>

{{! basic-tree graphData=graphData}}

{{! useful for testing... }}
{{basic-tree graphData=graph.graph}}
