<form>
  <div>
    <label for="file-upload">Upload the `instrumentation.*.json` output of <code>BROCCOLI_VIZ=1 ember build</code>:</label>
    <input name="file-upload" type="file" onchange={{action 'parseFile'}}>
  </div>
</form>

{{slow-node-times data=data}}
